body {
    margin: 0;
}


/* main page */

.main_section {
    background-image: url("../photos/main_page.png");
    width: 100%;
    height: 100vh;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    
}

/* main page text animation */

@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40% { transform: translate3d(0, 60%, 0); }
  80% { transform: translate3d(0, 30%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #F7F7F7;
  font-family: novecento-sans-wide, sans-serif;
font-style: normal;
font-weight: 500;
  height: 40vh;
  left: 50vh;
  position: absolute;
  top: 75vh;
  transform: translate(-50%, -50%);
  width: 65vh;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.text-top {
    line-height: 0.8;
}

.text-bottom {
    color: #D0D6B3;
}

.animated-title > div div {
  font-size: 3vh;
  padding: 2.5vh 20px;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1.8px solid #F7F7F7;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 3s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 1.5s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}

/* about me section */

.aboutme_section {
    background-image: url("../photos/background1-08.png");
    width: 100%;
    height: 70vh;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20vh;
}

.breadcrumb_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10vw;

}

.arrow {
    color: #767676;
    padding-left: 7px;
    font-family: novecento-sans-wide, sans-serif;
font-style: normal;
font-weight: 500;
}

.breadcrumb {
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
    font-family: arponasans, sans-serif;
font-weight: 100;
font-style: normal;
color: #767676;
font-size: 2.5vh;
}

.aboutmetext_section {
    font-family: arponasans, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 2vh;
width: 40vw;
color: #1D1228;
}

.btn {
    position: relative;	
	padding: 1.2vh 2vh 1vh 2vh;
    padding-right: 2vh;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
    border: none;
    background-color: transparent;
    font-family: novecento-sans-wide, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 2.5vh;
color: #2A2D34;
float: right;
margin-right: 8vw;
margin-top: 2vh;
outline: none;

}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: #D0D6B3;
	transition-delay: .30s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
    background: #57595F;
    height: 105%;
    transition-delay: .35s;
}

.buttonanimation:before, 
.buttonanimation:after {
	top: 0;
	width: 0;
	height: 100%;
}

.buttonanimation:before {
    right: 0;
	border: 1px solid #57595F;
	border-left: 0;
    border-right: 0;
}

.buttonanimation:after {
	left: 0;
}

.buttonanimation:hover:before,
.buttonanimation:hover:after {
    width: 100%;
}

/* projects section */

.projects_header {
  font-family: novecento-sans-wide, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 15vw;
color: #F7F7F7;
padding: 0;
margin: 0;
margin-left: -15px;
}

.projects_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.projects_container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
}

.project_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.project_name {
  font-family: novecento-sans-wide, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 3vh;
color: #5D5D5D;
padding-left: 20px;
}

.gather1 {
  width: 45vw;
  background-color: #F7F7F7;
  padding: 30px 50px;
}

.project_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: rgba(110, 110, 110, 0.6);
  font-family: novecento-sans-wide, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 2vh;
  color: #F7F7F7;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
  padding: 0 20px;
  
}

.gather_project {
  margin-right: 6vw;
}

.gather_project:hover .gather_hover {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.gather_hover {
  transition: .2s;
  margin-bottom: 8.5vh;
}




.FNT1 {
  width: 30vw;
  background-color: #F7F7F7;
  padding: 70px 50px;
}

.fnt_project {
  margin-top: 80vh;
}

.fnt_project:hover .fnt_hover {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.fnt_hover {
  transition: .2s;
  margin-bottom: 8.5vh;
}


.ux {
  width: 45vw;
  background-color: #F7F7F7;
  padding: 30px 50px;
}


.ux_project:hover .ux_hover {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.ux_hover {
  transition: .2s;
  margin-bottom: 8.5vh;
}

.webdoc {
  width: 30vw;
  background-color: #F7F7F7;
  padding: 70px 50px;
}

.webdoc_project {
  margin-right: 6vw;
  margin-top: 15vw;
}

.webdoc_project:hover .webdoc_hover {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}

.webdoc_hover {
  transition: .2s;
  margin-bottom: 8.5vh;
}

/* testimonials */

.testimonials_section {
  background-image: url("../photos/background2-08.png");
  margin-top: -75vh;
  width: 100%;
    height: 55vh;
    background-position-x: right;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 37vh;
}

.carousel {
  width: 40vw;
}

.review_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review_photo {
  width: 10vh;
  border-radius: 5vh;
}

.review_name {
  font-family: novecento-sans-wide, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 3vh;
color: #1D1228;
padding-left: 20px;
}

.slick-dots {
  list-style: none;
  text-align: right;
  margin-right: 8vh;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 30px;
  margin: 0 3px;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 22px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 50px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  color: #747474;
}

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: #1D1228;
  font-size: 70px;
}



.testimonials_text {
  font-family: arponasans, sans-serif;
font-weight: 300;
font-style: normal;
font-size: 2vh;
color: #1D1228;
}







/* footer */

.footer_section {
  background-image: url("../photos/footer.png");
    width: 100vw;
    height: 55vh;
    background-position: contain;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: -1;
}

.footer_text {
  color: #F7F7F7;
  font-family: novecento-sans-wide, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 3vh;
}

.contactbtn {		
	position: relative;	
	padding: 1.2vh 2vh 1vh 2vh;
    padding-right: 2vh;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
    border: none;
    background-color: transparent;
    font-family: novecento-sans-wide, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 2.1vh;
color: #D0D6B3;
float: right;
outline: none;
text-decoration: underline;
text-underline-offset: 2vh;
}

.contactbtn:before, .contactbtn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.contactbtn:hover {
	color: #D0D6B3;
  transition-delay: .5s;
  text-decoration: none;
}

.contactbtn:hover:before {
	transition-delay: 0s;
}

.contactbtn:hover:after {
	background: #2A2D34;
  transition-delay: .35s;
  height: 105%;
  
}

.contactbuttonanimation:before, 
.contactbuttonanimation:after {
	top: 0;
	width: 0;
	height: 100%;
}

.contactbuttonanimation:before {
	right: 0;
	border: 1px solid #2A2D34;
	border-left: 0;
	border-right: 0;	
}

.contactbuttonanimation:after {
	left: 0;
}

.contactbuttonanimation:hover:before,
.contactbuttonanimation:hover:after {
	width: 100%;
}

a {
  text-decoration: none;
}


.back_button {
  position: relative;	
  position: fixed;
	padding: 1.2vh 2vh 1vh 2vh;
    padding-right: 2vh;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
    border: none;
    background-color: transparent;
    font-family: novecento-sans-wide, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 2.5vh;
color: #2A2D34;
margin-top: 2vh;
margin-left: 2vh;
outline: none;

}

.back_button:before, .back_button:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.back_button:hover {
	color: #D0D6B3;
	transition-delay: .30s;
}

.back_button:hover:before {
	transition-delay: 0s;
}

.back_button:hover:after {
    background: #57595F;
    height: 105%;
    transition-delay: .35s;
}

.buttonanimation:before, 
.buttonanimation:after {
	top: 0;
	width: 0;
	height: 100%;
}

.buttonanimation:before {
    right: 0;
	border: 1px solid #57595F;
	border-left: 0;
    border-right: 0;
}

.buttonanimation:after {
	left: 0;
}

.buttonanimation:hover:before,
.buttonanimation:hover:after {
    width: 100%;
}


/* for ipad */

@media only screen and (max-width: 1100px) {

  .animated-title > div div {
    font-size: 3.5vh;
  }

  .aboutmetext_section {
  width: 70%;
  }

  .aboutme_section {
  justify-content: center;
  }

  .carousel {
  width: 70%;
  }

  .animated-title {
  width: 67vw;
  left: 40vw;
  top: 80vh;
  }

  .gather1 {
  width: 80%;
  }

  .gather_hover {
    display: none;
  }

  .footer_section {
  height: 40vh;
  }

  .projects_header {
    font-size: 17.5vw;
  }

  .project_name {
  padding-left: 5vw;
  }

  .FNT1 {
  width: 60%;
  float: right;
  }


  .fnt_project {
  margin-top: 47vh;
  }

  .fntname {
  margin-left: 28.5vw;
  }

  .bsmntname {
    margin-left: 15vw;
  }


  .fnt_hover {
    display: none;
  }

  .webdoc {
    width: 64%;
  }

  .webdoc_project {
    margin-top: 15vh;
  }

  .webdoc_hover {
    display: none;
  }

  .ux {
    width: 73%;
    float: right;
  }

  

  .ux_project {
    margin-top: -25vh;
    margin-bottom: 25vh;
  }

  .ux_hover {
    display: none;
  }

}


  @media only screen and (max-width: 800px) { 
    .fnt_project {
      margin-top: 60vh;
      margin-bottom: 20vh;
      }

      .webdoc_project {
        margin-top: 0;
      }

      .ux_project {
        margin-top: -30vh;
      }
  }



/* for phones */

@media only screen and (max-width: 530px) {
  
  .main_section {
    background-image: url(../photos/mainBackMobile-min.png);
    background-position: center;
  }

  .animated-title {
    width: 100%;
    left: 50%;
    top: 77vh;
  }

}

@media only screen and (max-width: 380px) {
  
  .aboutme_section {
    padding-top: 60px;
    justify-content: space-around;
    height: 150vw;
  }

  .testimonials_section {
    height: auto;
    justify-content: space-around;
  }

  .breadcrumb_section {
  padding: 0;
  }

  .breadcrumb {
  margin: 0;
  }

  .aboutmetext_section {
    font-size: 1em;
  }

  .testimonials_text {
    font-size: 4vw;
  }

  .gather1 {
    width: 78%;
  }

  .FNT1 {
    width: 73%;
  }

  .fnt_project {
    margin-top: 520px;
  }

  .fntname {
    margin-left: 0;
  }

  .webdoc {
    width: 78%;
  }

  .ux {
    margin-top: -10px;
    margin-bottom: 0;
  }

  .bsmntname {
    margin-left: 0;
  }

  .project_name {
    margin: 0.83em auto;
    padding-left: 0;
    font-size: 3.5vh;
  }

  .testimonials_section {
    margin-top: -650px;
  }

}


@media only screen and (max-width: 365px) {
  .gather1 {
    width: 76.7%;
  }

  .webdoc {
    width: 76.7%;
  }

  .review_info {
    flex-direction: column;
    align-items: flex-start;
  }

  .review_name {
    padding-left: 0;
  }

  .slick-dots {
    margin-right: 0;
  }

  .aboutmetext_section {
    font-size: 4.4vw;
  }

  .testimonials_text {
    font-size: 4.4vw;
  }
}

@media only screen and (max-width: 320px) {
  .gather1 {
    width: 69%;
  }

  .webdoc {
    width: 68%;
  }
}
